@page "/cities/create/{StateId:int}"
@inject IRepository repository
@inject NavigationManager navigationManager;
@inject SweetAlertService sweetAlertService;
@attribute [Authorize(Roles = "Admin")]

<h3>Crear Ciudad</h3>

@*En este tag llamamos el countryform de CountryForm.razor
    Ademas instanciamos la entidad country para crearla. Con esto se validan los Data annotation.
    *@
<CityForm @ref="cityForm" city="city" OnValidSubmit="CreateAsync" ReturnAction="Return"></CityForm>
@*La linea @ref nos permite referenciar el formulario en una variable para obtener acceso a los eventos
    que se desarrollan al usar el formulario.
*@
@code {
    private City city = new();
    //Los signos de interrogación al final de la instancia quiere decir que permite valores nulos
    private CityForm? cityForm;


    [Parameter]
    public int StateId { get; set; }

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;


    private async Task CreateAsync()
    {
        city.StateId = StateId;
        var httpResponse = await repository.Post("/api/cities", city);
        if (httpResponse.Error)
        {
            var message = await httpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        await BlazoredModal.CloseAsync(ModalResult.Ok());

        Return();
    }

    private void Return()
    {
        cityForm!.formPostedSuccessFully = true;
        navigationManager.NavigateTo($"/states/details/{city.StateId}");
    }

}
